body {
  margin: 0;
  
  font-family: Arial, sans-serif; 
  color: #ffffff;

  background-image: url('Diseño\ sin\ título.jpg');  
  background-size: cover; 
  background-repeat: no-repeat;
  
}  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  h2 {
    margin-top: 0;
    color: rgb(254, 254, 254);
  }
  
  #inscripcion-list li a {
    color: rgba(41, 234, 218, 0.834);
  }
